#todo-list-container{
  > .project-view{
    > .short-info{
      .add-todo{
        padding-left: 50px;
        position: relative;

        > textarea, input {
          border: 1px solid #ccc;
          background: transparent;
          width: 100%;
        }

        > .menu-container{
          position: absolute;
          top: 2px;

          > .menu {
            cursor: pointer;
          }

          &.left{
            left: 0px;

            > .menu {
              padding-left: 5px;
            }
          }
        }
      }

      .todo-short-info{
        > .add-todo{
          padding-left: 55px;

          > .menu-container{
            &.left {
              left: 5px;
            }
          }
        }
      }

      .drop-zone{
        margin: 0px 10px;
        margin-left: 30px;
        height: 15px;
        background-color: #ccc;
      }
    }
  }
}
