#add-project-button{
  position: fixed;
  bottom: 50px;
  right: 50px;
  opacity: .4;

  outline: none;
  width: 80px;
  border-radius: 20px;

  .content{
    text-align: center;
    padding: 2px 0px;
    font-size: 25px;
  }

  &:hover{
    background-color: #aaa;
    cursor: pointer;
    opacity: 1;
  }
}