#todo-list-container{
  padding: 10px;

  .todo-short-info{
    margin: 2px 0px;
    padding: 0px 10px;
    position: relative;
    background-color: #f4f4f4;
    border: 1px solid transparent;


    > .menu-container{
      position: absolute;
      padding: 2px 5px;
      top: 0px;
      background: transparent;

      > .menu{
        cursor: pointer;
        padding: 0px 5px;
        opacity: .1;

        &.move{
          cursor: move;
        }

        &.checkbox{
          opacity: 1;

          input{
            cursor: pointer;
          }
        }
      }


      &.left{
        left: 0px;
      }

      &.right{
        right: 0px;

        > .menu {
          &.clock {
            opacity: 1;
          }
        }

        &:hover{
          background-color: #f4f4f444;

          > .menu{
            opacity: 1;
          }
        }
      }
    }

    > .todo-info{
      margin-left: 40px;

      > .title, > .expended-view > .title{
        cursor: pointer;
      }
    }


    &:hover{
      border-color: #ccc;

      .menu-container{
        &.left{
          > .menu{
            opacity: 1;
          }
        }
      }
    }
    &.done{
      opacity: .2;
    }
    &.over{
      opacity: 1;
    }
    &:hover{
      opacity: 1;
    }
  }

  .todo-list{
    padding-left: 15px;;
  }
}